<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"<%= post.author.username %>"</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %> <br />
    <h1>Edit <%= post.author.username %></h1>
    <form action="/MyPage/<%= post._id %>?_method=PUT" method="POST">
      <div>
        <textarea id="content" name="content" required maxlength="300" >
        <%= post.content %> 
            </textarea><br />
      </div><br />
    </form>
      <div>
        <% if (post.author._id.toString() === user._id.toString()) { %>
        <input type="submit" value="Update!" /><br />
    <!-- You have to have a seperate form for the delete button -->
        <form action="/MyPage/<%= post._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </div>
  </body>
</html>
