<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="posts">
        <h2>All Talkers</h2>
        <%- include("../partials/_navbar.ejs") %>
        <div id="posts">
          <!-- This allows the post population -->
          <% posts.forEach(post => { %>
          <div class="post">
            <p><%= post.author.username %></p>
            <a href='/MyPage/<%= post._id %>'><p><%= post.content %></p></a>
            <form action="/MyPage/<%= post._id %>/comments" method="POST">
              <label for="content">Comment: </label>
              <input type="text" id="content" name="content">
              <button type="submit">Add Comment</button>
            </form>
            <button>Show Comments:</button>
            <div>
              <% post.comments.forEach(comment => { %>
                <p><%= comment.author.username %>: <%= comment.content %></p>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
    </main><br>
</body>
</html>