<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Talkers</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/app.js" defer></script>

</head>
<body>
    <section id="posts">
      <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&display=swap" rel="stylesheet">


        <h2>All Talkers</h2>
        <%- include("../partials/_navbar.ejs") %>
        <div id="posts">
          <!-- This allows the post population -->
          <% posts.forEach((post, idx) => { %>
          <div class="post">
            <p><%= post.author.username %></p>
            <a href='/MyPage/<%= post._id %>'><p><%= post.content %></p></a>
            <form action="/MyPage/<%= post._id %>/comments" method="POST">
              <label for="content">Comment: </label>
              <input type="text" id="content" name="content">
              <button type="submit">Add Comment</button>
              
            </form>
            <button data-postid="<%= post.author.username %><%= idx %>" class="comment-btns">Show Comments (<%= post.comments.length %>)</button>
            <div id="<%= post.author.username %><%= idx %>" class="hidden">
              <% post.comments.forEach(comment => { %>
                <p><%= comment.author.username %>: <%= comment.content %></p>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
    </main><br>
</body>
</html>